/*
Atteched part of assignment3part3
*/
/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}
footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: 'Afta Sans';
  src: url(./fonts/aftasansthin-regular-webfont.woff) format('woff')
  url(./fonts/aftasansthin-regular-webfont.woff2) format('woff2')
}

body{
  font-family: serif;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

h1, h2{
  font-family: 'Afta Sans';
  letter-spacing: 1px;
}
h1{
  font-size: 3rem;
  text-align: center;
}

h2{
  font-size: 1.5rem;
}

h2 + p{
  text-indent: 20px;
}

a{
  color: rgb(157, 85, 85);
  text-decoration: underline;
  outline: none;
}

a:visited{
  color: rgb(157, 85, 85);
}

a:focus{
  color: rgb(157, 85, 85);
  text-decoration: none;
}

a:hover{
  color: rgb(157, 85, 85);
  text-decoration: none;
}
a:active{
  color: orange;
}


.linkicon::after{
  content: "";
  background: url('./external-link-52.png') no-repeat;
  background-size: 10px 10px; /* Set your desired size here */
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 5px; /* Adjust spacing between text and icon */
}

li{
  line-height: 10px;
}

ul, ol{
  padding: 10px, 20px;
}

ul{
  list-style-type: square;
}

nav ul{
  list-style: none;
  padding: o;
}
nav ul li{
  margin-bottom: 1rem;
}

nav ul li a{
  display: block;
  padding: 0.5rem;
  background-color: rgb(242, 226, 226);
  border: 1px solid rgb(152, 69, 69);
  text-align: center;
  text-decoration: none;
  color: #a66;
}

nav ul li a:hover{
  color: orange
}